agentAddress udp:161,udp6:[::1]:161

{% for h in snmpd.monitors %}
com2sec monitoring_sec  {{ h }}   public
{% endfor %}

group monitoring_group  v1  monitoring_sec
group monitoring_group  v2c monitoring_sec

view anything_view   included    .1.3.6.1.4.1.2021
view anything_view   included    .1.3.6.1.2.1

access monitoring_group ""  any noauth  exact   anything_view   none    none

sysLocation    OSU-IS
sysContact     root@oregonstate.edu
sysServices    72

master agentx

{% for c in snmpd.custom %}
{{ c }}
{% endfor %}
