agentAddress udp:161,udp6:[::1]:161

{% for h in monitors %}
com2sec monitoring_sec  {{ h }}   public
{% endfor %}

group monitoring_group  v1  monitoring_sec
group monitoring_group  v2c monitoring_sec

view anything_view   included    .1

access monitoring_group ""  any noauth  exact   anything_view   none    none

sysLocation    OSU-IS
sysContact     root@oregonstate.edu
sysServices    72

